/*Basic style starts*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
}
/*Basic style ends*/
/*Header style starts*/
header{
    background:   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),  url('images/bg-img.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.3);
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo {
    width: 25%;
    text-align: center;
}
nav .logo h1{
    color: #fff;
}
nav .menu{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
nav .menu a{
    width: 25%;
    color: #fff;
}
nav .menu a:hover{
    color: #00A396;
}
nav .menu a:first-child{
    color: #00A396;
}
/*main style starts*/
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main h2{
    font-size: 3.5rem;
    font-weight: 200;
    letter-spacing: 0.3rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #000;
}
main h3{
    font-size: 5.5rem;
    margin: 3rem 0 2rem 0;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0.2rem 0.1rem 0.5rem #000;
}
main p{
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2.5rem;
    color: #eee;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
}
main a{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 1.2rem 3rem;
    outline: none;
    border-radius: 0.4rem;
    transition: all 0.3s ease;
}
main .btn-one{
    background: #fff;
    color: #00A396;
}
main .btn-one:hover{
    background: #00A396;
    color: #fff;
}
main .btn-two{
    background:#00A396;
    margin-left: 2rem;
}
main .btn-two:hover{
    background: #fff;
    color: #00A396;
}
main .content::after{
    content: '';
    animation: placesName 10s infinite linear;
    color: #00A396;
}
@keyframes placesName {
    0%{
        content: 'Dhaka';
    }
    20%{
        content: 'Mymensingh';   
    }
    40%{
        content: 'Sylhet';
    }
    60%{
        content: 'Rajshahi';
    }
    80%{
        content: 'Chitagong';
    }
    100%{
        content: 'Ragpur';
    }
}

/*main style ends*/
/*Header style ends*/
